.loading-bar-container {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image:url('../../assets/hero-img-small.jpg');
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-position: center center;
  filter: blur(5px);
  opacity: 0.85;
}

.circle-container {
  position: absolute;
  top: 50%;
  left: 50%;
}